*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: white;
}
.top-img{
    width: 100%;
    height: auto;
}
.para{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.card{
    background-color:  #246db6 !important;
}
h1{
    color: white ;
    text-align: center !important;
    padding-top: 60px;
}
.small-img{
    width: 100px;

}
input{
    display: block !important;
    margin: auto !important;
    padding: 15px;
}
button{
    color: white;
    background-image: radial-gradient(gray,black);
    height: 40px;
    width: 138px;
    display: block;
    margin: auto !important;
    margin-top: 20px !important;
}
.game-result{
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
}